* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  font-family: 'Montserrat', sans-serif;
}

.container {
  max-width: 1170px !important;
  padding-top: 0 !important;
}

.container-fluid {
  padding-top: 0 !important;
}

.slick-list {
  padding: 0 50% !important;
}

.slick-next {
  background: url("img/next.png");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
  width: 60px;
  height: 62px;
  border: none;
  position: absolute;
  top: 50%;
  right: 18%;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
  z-index: 2;
}

.slick-prev {
  background: url("img/prev.png");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
  width: 60px;
  height: 62px;
  border: none;
  position: absolute;
  top: 50%;
  left: 16%;
  -webkit-transform: translate(16%, -50%);
          transform: translate(16%, -50%);
  z-index: 2;
}

.button {
  font-weight: 600;
  text-transform: uppercase;
  border-radius: 50px;
  text-shadow: 0px 1px 0px rgba(207, 102, 19, 0.004);
  color: #fff;
  background-image: -webkit-gradient(linear, left top, right top, from(#ffa742), to(#f67c22));
  background-image: linear-gradient(90deg, #ffa742 0%, #f67c22 100%);
  background-image: -ms-linear-gradient(90deg, #ffa742 0%, #f67c22 100%);
  -webkit-box-shadow: 0px 3px 0px 0px #cf6613;
          box-shadow: 0px 3px 0px 0px #cf6613;
  border: none;
  -webkit-transition: opacity 0.4s;
  transition: opacity 0.4s;
}

.button:hover {
  opacity: 0.8;
}

.section-title {
  text-align: center;
  font-family: 'Merriweather', serif;
  font-weight: 700;
  font-size: 45px;
  line-height: 60px;
}

.section-title span {
  font-family: 'Merriweather', serif;
  font-weight: 300;
  font-size: 45px;
  line-height: 60px;
}

.section-subtitle {
  font-size: 22px;
  line-height: 32px;
  margin: 45px 0 0 0;
  color: #949494;
  text-align: center;
}

.header {
  background-image: url("img/background1.png");
  background-size: cover;
  background-repeat: no-repeat;
  padding: 27px 0 154px 0;
}

.header-title {
  margin: 117px 0 0 0;
  padding: 0;
  font-size: 55px;
  line-height: 63px;
  font-family: 'Merriweather', serif;
  font-weight: 700;
}

.header-subtitle {
  margin: 35px 0 0 0;
}

.header-subtitle-line hr {
  margin: 10px 0 0 0;
  color: #f68b22;
  height: 4px;
  opacity: 1;
}

.header-subtitle-text {
  font-size: 18px;
  line-height: 28px;
}

.header-subtitle-text span {
  font-weight: 600;
}

.header-button {
  padding: 40px 70px;
  font-size: 15px;
  line-height: 1.2;
}

.header-button-wrapper {
  margin: 45px 0 0 0;
  display: inline-block;
  -webkit-box-shadow: 0px 25px 20px -10px rgba(0, 0, 0, 0.3);
          box-shadow: 0px 25px 20px -10px rgba(0, 0, 0, 0.3);
  border-radius: 50px;
}

.navbar {
  background: transparent;
  padding: 0;
}

.navbar-nav {
  padding: 0 20px 0 35px;
}

.navbar-social-link {
  text-decoration: none;
  display: block;
  padding: 0 5px;
}

.nav-link {
  padding: 0 15px;
  font-size: 14px;
  line-height: 27px;
  color: #000;
}

.navbar-contacts-phone {
  font-size: 20px;
  line-height: 27px;
  font-weight: 500;
}

.navbar-contacts-form {
  font-size: 12px;
  line-height: 27px;
  color: #f68b22;
  text-transform: uppercase;
  text-decoration: underline;
  text-align: right;
  cursor: pointer;
}

.solution {
  padding: 140px 0 100px 0;
  background-image: url("img/background2.png");
  background-size: 600px;
  background-repeat: no-repeat;
  background-position: 100% 100%;
}

.solution-card-1 {
  margin: 60px 0 0 0;
}

.solution-card-2 {
  margin: 30px 0 0 0;
}

.solution-card-group {
  margin: 57px 0 0 0;
}

.solution-card-body {
  background-image: url("img/card_background.png");
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center center;
}

.solution-card-content {
  position: relative;
  text-align: center;
  padding: 90px 30px 65px 30px;
}

.solution-card-image {
  position: absolute;
  top: 0;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
}

.solution-card-title {
  font-family: 'Merriweather', serif;
  font-weight: 700;
  font-size: 16px;
  line-height: 27px;
}

.solution-card-text {
  font-size: 15px;
  line-height: 25px;
  font-weight: 400;
  margin: 23px 0 0 0;
  color: #949494;
}

.solution-card-number {
  display: inline-block;
  position: relative;
  font-family: 'Merriweather', serif;
  font-size: 15px;
  line-height: 25px;
  margin: 40px 0 10px 0;
  color: #c4c4c4;
}

.solution-card-number:before {
  content: '';
  position: absolute;
  left: -30px;
  top: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  height: 1px;
  width: 30px;
  background: #c4c4c4;
}

.solution-card-number:after {
  content: '';
  position: absolute;
  right: -60px;
  top: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  height: 1px;
  width: 30px;
  background: #c4c4c4;
}

.questions {
  padding: 120px 0 100px 0;
  background-image: url("img/background3.png");
  background-size: cover;
  background-repeat: no-repeat;
}

.questions-form {
  margin: 65px 0 0 0;
  width: 270px;
  height: 746px;
  background-image: url("img/questions_form_background.png");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
}

.questions-form-wrapper {
  padding: 60px 0 0 0;
  text-align: center;
}

.questions-form-content[data-active='false'] {
  display: none;
}

.questions-form-indicators[data-active='false'] {
  display: none !important;
}

.questions-form-indicator {
  height: 8px;
  width: 65px;
  margin: 0 5px;
  border-radius: 3px;
  background: #e8e8e8;
}

.questions-form-indicator[data-active='true'] {
  background: #f68b22;
}

.questions-form-overhead {
  margin: 30px 0 0 0;
  color: #949494;
  text-transform: uppercase;
  font-size: 14px;
  font-weight: 600;
}

.questions-form-title {
  font-family: 'Merriweather', serif;
  margin: 15px 0 0 0;
  font-weight: 700;
  font-size: 30px;
  text-transform: uppercase;
}

.questions-form-subtitle {
  font-size: 15px;
  margin: 25px 0 13px 0;
}

.questions-form-radio {
  display: inline-block;
  position: absolute;
  top: 50%;
  left: -4px;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
}

.questions-form-radio-wrapper {
  padding: 12px 0;
}

.questions-form-radio-wrapper-2 {
  display: inline-block;
  position: relative;
}

.questions-form-radio-text {
  font-size: 13px;
  margin: 7px auto 0 auto;
}

.questions-form-radio input[type=radio] {
  display: none;
}

.questions-form-radio label {
  display: inline-block;
  cursor: pointer;
  position: relative;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
  width: 24px;
  height: 24px;
}

.questions-form-radio label:before {
  content: '';
  border-radius: 50%;
  position: absolute;
  width: 24px;
  height: 24px;
  left: 0;
  background: url("img/not-check.png");
  background-size: cover;
  background-position: center center;
}

.questions-form-radio input[type=radio]:checked + label:before {
  background: url("img/check.png");
}

.questions-form-navigation {
  margin: 20px 0 0 0;
}

.questions-form-navigation[data-active='false'] {
  display: none !important;
}

.questions-form-navigation-next {
  font-size: 11px;
  font-weight: 600;
  padding: 15px 30px;
}

.questions-form-navigation-prev {
  color: #949494;
  font-size: 11px;
  font-weight: 600;
  border: none;
  background: transparent;
}

.questions-form-navigation-prev img {
  margin-right: 8px;
}

.questions-form-step-4-title {
  font-family: 'Merriweather', serif;
  font-size: 26px;
  line-height: 36px;
}

.questions-form-step-4-title span {
  font-family: 'Merriweather', serif;
  font-size: 26px;
  line-height: 36px;
  font-weight: 600;
}

.questions-form-step-4-subtitle {
  font-size: 15px;
  margin: 20px 0 0 0;
  color: #949494;
}

.questions-form-step-4-button {
  margin: 18px 0 0 0;
  padding: 23px 40px;
  font-size: 15px;
  font-weight: 600;
}

.questions-form-inputs {
  margin: 28px 0 0 0;
}

.questions-form-inputs input {
  margin: 7px 0;
  background-color: whitesmoke;
  -webkit-box-shadow: inset 0px 2px 6px 0px rgba(0, 0, 0, 0.07);
          box-shadow: inset 0px 2px 6px 0px rgba(0, 0, 0, 0.07);
  border-radius: 25px;
  border: none;
  font-size: 14px;
  font-weight: 400;
  padding: 17px 30px;
  color: #949494;
  outline: none;
}

.questions-form-consent {
  margin: 19px 0 0 0;
  font-size: 12px;
  color: #949494;
}

.questions-form-logo {
  margin: 82px auto 0 auto;
}

.layout-slider {
  margin: 60px auto 0 auto;
}

.layout-slider-item {
  text-align: center;
  width: 570px;
  padding: 20px 29px 60px 29px;
  border: 1px solid black;
  margin: 0 15px;
  background: url("img/layout-background.png");
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
}

.layout-slider-item-name {
  font-family: 'Merriweather', serif;
  font-size: 20px;
  margin: 35px 0 0 0;
}

.layout-slider-item-params {
  margin: 30px 0 0 0;
  padding: 0;
}

.layout-slider-item-param {
  border: 1px solid #e8e8e8;
  border-radius: 4px;
  background-color: #fafafa;
  padding: 10px 0;
}

.layout-slider-item-param-title {
  color: #949494;
  font-size: 10px;
  line-height: 1;
  font-weight: 600;
  text-transform: uppercase;
}

.layout-slider-item-param-text {
  font-size: 14px;
  line-height: 1;
  font-weight: 600;
  margin: 10px 0 0 0;
}

.layout-slider-item-description {
  text-align: left;
  margin: 24px 0 0 0;
  font-size: 14px;
  color: #949494;
}

.layout-slider-item-footer {
  margin: 29px 0 0 0;
}

.layout-slider-item-footer-button {
  padding: 29px 50px;
  font-size: 15px;
}

.layout-slider-item-footer-price {
  font-family: 'Merriweather', serif;
  font-weight: 700;
  font-size: 30px;
  line-height: 1;
}

.layout-slider-item-footer-price-wrapper {
  text-align: left;
}

.layout-slider-item-footer-price-title {
  font-size: 10px;
  line-height: 25px;
  font-weight: 600;
  color: #4878f8;
}

.layout-slider-item-footer-delivery {
  display: inline-block;
  padding: 8px 14px;
  margin: 13px 0 0 0;
  border: 1px solid #e8e8e8;
  border-radius: 4px;
  background-color: #fafafa;
}

.layout-slider-item-footer-delivery-text {
  color: #949494;
  font-size: 10px;
  line-height: 1;
  font-weight: 600;
  text-transform: uppercase;
}

.layout-slider-item-footer-delivery img {
  display: inline-block !important;
}
/*# sourceMappingURL=style.css.map */